body{
    text-align: top
    ;
}

.travel_mainDIV
{
    border:2px solid yellow;


}
.travel_mainDIV img{
    width:100%;

}
.travel_mainDIV h5, .travel_mainDIV p
{
    margin: 20px;
}
.new
{
    margin-bottom: 20px;
}
#contact iframe
{
    width:100%;
}